.word {
  float: left;
  margin-left: 4px;
}
.blurred {
  color: Silver;
}
.focused {
  color: Black;
  font-size: 40px;
}

.screen {
  width: 100%;
}

.answer {
  display: inline-block;
  float: left;
  border: 4px solid black;
  background-color: White;
  width: 200px;
  height: 200px;
  margin: 30px;
  padding: 30px;
  text-align: center;
  text-decoration: none;
}

.headline {
  font-size: 40px;
}